body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #77C3EC;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #77C3EC;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #B8E2F2;
  color: #77C3EC;
  border-radius: 12px;
  border: 2px solid #B8E2F2;
  transition: 0.3s;
}

.button:hover {
  background-color: #77C3EC;
  color: #ffe3e1;
  border: 2px solid #77C3EC;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #B8E2F2;
  color: #77C3EC;
  border-radius: 12px;
  border: 2px solid #B8E2F2;
}


* {
    margin: 0;
    padding: 0;

}

img {
    width: 45vh;
    height: 45vh;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    user-select: none;
    border: 2px solid #B8E2F2;
    box-shadow: 0 0 10px rgba(255, 148, 148, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff5e4;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: 1s;
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    /* backface-visibility: hidden; */
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.btns {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.btns .btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btns .btn:active {
    background-color: #fff;
}

.btns .btn::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg) translate(-2.5px, 2.5px);
}

.btns .btn:active::before {
    border-top: 2px solid #000;
    border-right: 2px solid #000;

}

.btns .btn.prev::before {
    transform: rotate(225deg) translate(-2.5px, 2.5px);
}

@media screen and (max-width: 600px) {

    .box span {
        backface-visibility: hidden;
    }

}
