body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #77C3EC;
}
#foodquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.food-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #77C3EC;
}
.food-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #B8E2F2;
  object-fit: cover;
  padding: 10px;
}
.food-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #B8E2F2;
  color: #77C3EC;
  border-radius: 12px;
  border: 2px solid #B8E2F2;
}
