body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #77C3EC;
}
#thankyou {
  font-size: 50px;
  margin-bottom: 10px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #B8E2F2;
  color: #77C3EC;
  border-radius: 12px;
  border: 2px solid #B8E2F2;
}
